*{
    font-family: monospace;
}
body{
    margin: 0;
    font-size: 15px;
    background-color: #f0f8ff;
}
header{
    background-color: #3aafa9;
    height:100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

}
.welcome{
    color: white;
    font-size: 50px;
    text-align: center;
}
h1{
    color: #3aafa9;
    font-size: 50px;
}
.submit{
    background-color: #26343F;
    color: white;
    transition: none;

}
.submit:hover{
    background-color: #26343F;
    color: white;
}
button{
    width: 120px;
    padding: 11px;
    border: none;
    border-radius: 15px;
    background-color:#26343F;
   color: white;
    transition: color 0.70s, background-color 0.70s;
    margin: 15px;
}
button:hover{
   background-color:white;
   color: #26343F;
   cursor : pointer;
}
section{
    height: 100vh;
    border: 1px solid grey;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 7px;
}

main{
    padding: 20px;
}
input{
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 25px;
}
footer{
    height: 100px;
    background-color: black;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fixedbutton{
    position: fixed;
    height: 70px;
    right: 10px;
width: 70px;
border: none;
border-radius: 50%;
color: white;
bottom: 10px;
transition: none;
}
.fixedbutton:hover{
    background-color: #26343F;
    color: white;
}
a{
    text-decoration: none;
}
form div{
    margin: 5px 0 ;
}
